server:
  port: 8091
  servlet:
    context-path: /foodcourt-api

spring:
  application:
    name: food-court-microservice
  datasource:
    url: jdbc:postgresql://localhost:5432/food_court_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

jwt:
  secret: ${JWT_SECRET:mySuperSecureSecretKeyForPragmaPowerUpProject2025}

clients:
  user-service:
    url: http://localhost:8090
